<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kütüphane_Otomasyonu.Properties.Settings.KütüphaneBilgileriConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\KütüphaneBilgileri.mdb"
            providerName="System.Data.OleDb" />
        <add name="Kütüphane_Otomasyonu.Properties.Settings.KütüphaneBilgileriConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\KütüphaneBilgileri.mdb"
            providerName="System.Data.OleDb" />
        <add name="Kütüphane_Otomasyonu.Properties.Settings.sqlconnection"
            connectionString="Provider=SQLNCLI11;Data Source=WIN-03MQN6HB3DG;Integrated Security=SSPI;Initial Catalog=KütüphaneBilgileri"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>